@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
  color: #fff;
}

input,
textarea {
  background-color: #333; /* Dark background color */
  border: 1px solid #555; /* Border color */
  padding: 8px; /* Padding */
  border-radius: 4px; /* Border radius */
}

/* Additional styles for specific types of inputs */

select {
  background-color: #333; /* Dark background color */
}

/* Add more specific styles as needed */
